.marker {
    display: inline-flex;
    gap: 5px;
    font-size: 12px;
    color: white;
    align-items: center;

    .cityPoint {
        border: 2px solid black;
        border-radius: 50%;
        flex-grow: 0;
        flex-shrink: 0;
    }
}